/* Contenedor del formulario */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
  }
  
  /* Formulario */
  .add-product-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  /* Campos del formulario */
  .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  /* Botón de envío */
  .submit-button {
    /* background-color: #12ca18; */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding-right: 1.5em;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  